*{
margin: 0;
padding: 0;
box-sizing: border-box;


}
.banner{
width: 100%;
height: 100vh;
background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(images/background.jpg);
background-size: cover;
background-position: center;

}
nav{
    display: flex;
    align-items: center;
    padding: 20px 8%;
    transform: translateY(-50%);
}
nav .logo{
width: 115px;
margin-right: 20px;

cursor: pointer;
}
nav .menu{
    width: 35px;
    margin-right: 20px;
    
    cursor: pointer;
    }
    
nav ul{
    flex: 1;
    text-align: right;

}
nav ul li{
    display: inline-block;
    list-style-type: none;
    margin: 0 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;

}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #009688;
    height: 100;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    border: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: #1d7b0f solid;
}
.container{
    font-size: 20px;
}
.log-btn{
    align-items: center;
}

